@font-face {
  font-family: "Helvetica";
  src: url(../fonts/Helvetica.ttf);
}

@font-face {
  font-family: "Maven Pro";
  src: url(../fonts/MavenPro-Regular.ttf);
}

.message {
  float: left;
  z-index: 1;
  overflow: hidden;
  position: fixed;
  right: 0;
  bottom: 0;

  img {
    width: 80px;
    height: 80px;
  }
}

.header-info {
  background-color: #f5f5f5;
  height: 53px;
  font-size: 100%;
  margin-top: 96px;
  .left-text {
    float: left;
    margin-left: 20px;
    display: inline-block;
    margin-top: 10px;

    p {
      font-family: "Maven Pro";
    }

    ul {
      margin: -40px 0 0 40px;

      li {
        display: inline-block;
        margin-left: 3px;
      }
    }
  }

  .right-text {
    float: right;
    margin-right: 20px;
    display: inline-block;
    font-family: "Maven Pro";
    ul {
      display: inline-block;
      margin-top: 10px;

      li {
        display: inline-block;
        margin-left: 30px;

        span {
          font-family: "Maven Pro";
        }
      }
    }
  }
}

.navbar-light {
  width: 100%;
  height: auto;
  background-color: white;
  box-shadow: 0px 7px 6px 0px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 0px 7px 6px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 7px 6px 0px rgba(0, 0, 0, 0.44);
  font-family: "Maven Pro";
  overflow: unset;
  position: fixed;
  z-index: 1;
  top: 0;

  .navbar-brand {
    margin-left: 48px;
  }

  .form-inline {
    font-family: "Maven Pro";
    input {
      width: 500px;
      border-radius: 8px;
      border-color: #ee4124;
    }

    .btn {
      background-color: white;
      margin-left: -50px;
      height: 20px;
      margin-top: -15px;
    }
  }
}

.carousel-inner {
  img {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 1000px;
    height: 400px;
  }

  .carousel-control-next-icon {
    background-color: black;
  }
}

.divider {
  width: 100%;
  background-color: #f0eff5;
  height: 14px;
  margin-top: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #e1e7ec;
}

.main-content {
  .breadcrumb {
    background-color: white;
    margin-left: 30px;
  }
  .title {
    h4 {
      display: inline-block;
      color: #ee4124;
      font-family: "Maven Pro";
      font-weight: bold;
    }

    .btn {
      display: inline-block;
      font-family: "Maven Pro";
      font-size: small;
      float: right;
      color: white;
    }

    .btn:hover {
      color: white;
    }
  }

  .row {
    .kuantitas {
      margin-top: 51px;
      font-family: "Maven Pro";

      h5 {
        font-size: 16px;
        font-weight: bold;
      }

      .add-minus {
        background-color: white;
        width: 30px;
        height: 30px;
        border-radius: 7px;
        border-color: #707070;
        margin-left: 7px;
        margin-right: 7px;
        text-align: center;
        font-weight: bold;
      }

      input {
        width: 109px;
        height: 34px;
        border-radius: 7px;
        text-align: center;
        font-weight: bold;
      }
    }

    .stok {
      margin-top: 19px;
      font-size: 16px;
    }

    .buy {
      width: 280px;
      height: 46px;
    }

    .details {
      margin-bottom: 80px;
      .card-header {
        background-color: white;
      }

      .nav-link {
        font-family: "Maven Pro";
        font-size: 20px;
        font-weight: bold;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 200px;
      }

      p {
        font-size: 18px;
      }
    }

    .cart {
      margin-bottom: 70px;
      .card {
        width: 400px;
        height: 500px;
        margin-left: 119px;
        border-color: #c7c7c7;
        display: inline-block;

        img {
          width: 380px;
          height: 400px;
        }

        .card-body {
          background-color: #ee4124;
          border-top-left-radius: 50px;
          border-style: solid;
          border-color: #ee4124;
          border-width: 1px;
          height: 100px;

          h5 {
            font-weight: 25px;
            font-weight: bold;
            text-align: center;
            margin-top: -20px;
          }

          .card-text {
            color: white;
            font-family: "Maven Pro";
            font-size: 25px;
            padding-top: 36px;
            text-align: center;
          }
        }
      }
    }

    .prices {
      color: #ee4124;
      font-weight: bolder;
      margin-top: 16px;
      font-size: 30px;
    }

    .buy {
      background-color: #ee4124;
      width: 280px;
      height: 46px;
      border-radius: 100px;
      border-color: #ee4124;
      span {
        font-size: 19px;
        font-weight: bold;
        font-family: "Maven Pro";
        color: white;
        text-align: center;
        margin-left: 20px;
      }

      i {
        color: white;
      }
    }

    h3 {
      font-family: "Maven Pro";
      font-size: 24px;
      font-weight: bold;
      margin-top: 10px;
    }

    .price {
      color: #ee4124;
      font-weight: bolder;
      margin-top: 16px;
      font-size: 20px;
    }
  }

  .thumb {
    .card {
      width: 200px;
      height: 300px;
      border-color: #c7c7c7;
      border-width: 0.1px;
      margin-bottom: 40px;
      margin-right: 30px;
      border-radius: 6px;

      img {
        width: 180px;
        height: 200px;
        display: block;
        margin: 5px auto 0 0;
      }

      h5 {
        font-family: "Maven Pro";
        font-weight: bold;
        color: #2d2d2d;
        margin-top: -30px;
      }

      .price {
        color: #ee4124;
        margin-top: 5px;
        span {
          color: #2d2d2d;
        }
      }
    }
  }

  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner
    .active.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

.paginations {
  margin-left: 42%;
  margin-right: 50%;
  margin-bottom: 50px;
}

footer {
  height: 373px;
  background-color: #1b7dbd;
  font-family: "Maven Pro";

  .col-sm-3 {
    color: white;
    .dropdown-divider {
      width: 180px;
    }
  }

  a {
    color: inherit;
  }

  a:hover {
    color: inherit;
  }
}
