html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f3f5f8;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  color: #676a6d;
}

a {
  color: #3287b2;

  &:hover,
  &:focus {
    color: #3b98c8;
    text-decoration: none;
  }
}

th {
  font-weight: 600;
}

.page-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 300;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 15px;
  padding-bottom: 10px;
}

.copyright {
  margin-bottom: 0;
  text-align: right;
  font-size: 13px;
}

@media screen and (max-width: 767px) {
  .copyright {
    text-align: center;
    position: relative !important;
  }
}

#wrapper {
  .sidebar {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 260px;
    height: 100%;
    float: left;
    background-color: #2b333e;
    position: fixed;
    left: 0;
  }

  .main {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: calc(100% - 260px);
    left: 0;
    position: relative;
    float: right;
    background-color: #f5f5fa;
  }

  #sidebar-nav,
  .main {
    padding-top: 80px;
  }
}

@media screen and (max-width: 767px) {
  #wrapper {
    #sidebar-nav,
    .main {
      padding-top: 130px;
    }
  }
}

.layout-fullwidth #wrapper {
  .sidebar {
    left: -260px;
  }

  .main {
    width: 100%;
  }

  .navbar {
    left: 0 !important;
  }

  .btn-toggle-fullwidth {
    color: #00aaff;
  }
}

.offcanvas-active #wrapper {
  .sidebar {
    left: 0;
  }

  .main {
    width: 100%;
    position: relative;
    left: 260px;
  }
}

@media screen and (max-width: 1024px) {
  #wrapper {
    .sidebar {
      left: -260px;
    }

    .main {
      width: 100%;
    }

    .navbar {
      left: 0 !important;
    }

    .btn-toggle-fullwidth {
      color: #00aaff;
    }
  }

  .btn-toggle-minified {
    display: none;
  }
}

.main-content {
  padding: 28px 10px;
}

.navbar + .main-content {
  padding: 105px 0 28px 5px;
}

@media screen and (max-width: 767px) {
  .navbar + .main-content {
    padding-top: 155px;
  }
}

html.fullscreen-bg {
  height: 100%;

  body,
  #wrapper {
    height: 100%;
  }
}

.vertical-align-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
}

.vertical-align-middle {
  display: table-cell;
  vertical-align: middle;
}

/********************
   * TOP NAVIGATION
   ********************/

.navbar-default {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #fff;

  .navbar-nav > .open > a {
    background-color: #fafafa;

    &:hover,
    &:focus {
      background-color: #fafafa;
    }
  }

  .navbar-toggle {
    background-color: #f8f8f8;

    &:hover,
    &:focus {
      background-color: #f8f8f8;
    }
  }

  .brand {
    float: left;
    padding: 10px 10px;
    background-color: #fff;

    img {
      width: 160px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar-default .brand {
    padding-left: 30px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 992px) {
  .navbar-default .brand {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .navbar-default #navbar-menu {
    float: right;
  }
}

.navbar-btn {
  float: left;
  padding: 16px 0;

  button {
    font-size: 24px;
    padding: 4px 8px;
    line-height: 0.7;
    border: none;
    background: none;
    outline: none;
  }
}

@media screen and (max-width: 640px) {
  .navbar-btn {
    padding-left: 0;
  }
}

.navbar-btn-right {
  float: right;
}

.navbar-form {
  padding: 15px;
  border: 0;

  input[type="text"] {
    min-width: 200px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-form {
    float: left;
    width: 70%;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 0;
    padding-right: 0;

    .input-group {
      width: 70%;
    }

    input[type="text"] {
      min-width: 150px;
    }
  }
}

@media screen and (max-width: 640px) {
  .navbar-form {
    display: none;
  }
}

.navbar-nav {
  .icon-menu {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding-top: 28px;
    padding-bottom: 28px;
    position: relative;

    .badge {
      position: absolute;
      top: 22px;
      right: 16px;
    }
  }

  > li > {
    a {
      padding: 28px 20px;

      > {
        i {
          font-size: 22px;
          margin-right: 2px;
          vertical-align: middle;

          &.icon-submenu {
            margin-left: 2px;
            margin-right: 0;
            font-size: 10px;
            position: relative;
            top: 2px;
          }
        }

        span {
          position: relative;
          top: 2px;
        }
      }

      img {
        width: 22px;
        margin-right: 2px;
      }
    }

    .dropdown-menu {
      padding: 0;
      min-width: 100px;
      margin-top: -10px;
    }
  }

  .dropdown-menu {
    border-top: 2px solid #acb0b5;

    > li > a {
      padding: 10px 20px;

      &:hover,
      &:focus {
        background-color: #fafafa;
      }

      span,
      i {
        vertical-align: middle;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar-nav.navbar-right {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .navbar-nav {
    width: 100%;
    margin: 0;

    > li {
      display: table-cell;
      width: 1%;
      position: inherit;
      text-align: center;

      > a {
        padding: 15px 20px;

        span:not(.badge),
        .icon-submenu {
          display: none;
        }
      }
    }

    .open .dropdown-menu {
      -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
      -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
      position: absolute;
      width: 100%;
      margin-top: 3px;
      background-color: #fff;

      > li > a {
        padding: 10px 15px;
      }
    }

    .icon-menu {
      padding-top: 15px;
      padding-bottom: 15px;

      .badge {
        top: 10px;
        right: 15px;
      }
    }
  }
}

.navbar-toggle {
  padding: 5px 8px;
  margin: 20px 15px 20px 0;

  .icon-nav {
    font-size: 24px;
  }
}

.notification-item .dot {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 10px;
  height: 10px;
  content: "";
  margin-right: 8px;
}

ul.notifications > li {
  border-bottom: 1px solid #f0f0f0;

  &:last-child {
    border-bottom: none;
  }

  > .more {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    text-decoration: underline;
    font-weight: 600;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.dropdown-menu {
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border-color: #eaeaea;

  > li {
    > a {
      color: #676a6d;
    }

    i {
      margin-right: 6px;
    }
  }

  .active > a {
    background-color: #00aaff;

    &:focus,
    &:hover {
      background-color: #00aaff;
    }
  }

  > .disabled > a {
    color: #a3a3a3;

    &:focus,
    &:hover {
      color: #a3a3a3;
    }
  }
}

/********************
   * SIDEBAR NAVIGATION
   ********************/

.sidebar {
  z-index: 9;

  .nav {
    > li > a {
      padding: 18px 30px;
      color: #aeb7c2;
      border-left: 5px solid transparent;

      &:hover,
      &:focus,
      &.active {
        color: #fff;
        background-color: transparent;
      }

      &:hover i,
      &:focus i,
      &.active i {
        color: #00aaff;
      }

      &:focus,
      &.active {
        background-color: #252c35;
        border-left-color: #00aaff;
      }

      &[data-toggle="collapse"] {
        .icon-submenu {
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline;
          -webkit-transition: all 0.2s ease-out;
          -moz-transition: all 0.2s ease-out;
          -ms-transition: all 0.2s ease-out;
          -o-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
          float: right;
          position: relative;
          top: 5px;
          font-size: 12px;
          line-height: 1.1;
          -moz-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
        }

        &.collapsed .icon-submenu {
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
      }

      .badge {
        font-weight: 400;
        background-color: #f9354c;
      }
    }

    /* submenu */

    i {
      margin-right: 10px;
      font-size: 18px;
    }

    span {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      position: relative;
      top: -2px;
    }

    .nav {
      background-color: #252c35;

      > li > a {
        padding-left: 60px;
        padding-top: 10px;
        padding-bottom: 10px;

        &:focus {
          background-color: transparent;
          border-left-color: transparent;
        }

        &.active {
          background-color: transparent;
          border-left-color: transparent;

          a {
            color: #fff;
          }
        }
      }
    }
  }
}

/********************
   * TYPOGRAPHY
   ********************/

.text-success {
  color: #41b314;
}

.text-warning {
  color: #e4cb10;
}

.text-danger {
  color: #f9354c;
}

ul.list-justify > li {
  margin-bottom: 5px;

  span {
    float: right;
  }
}

/********************
   * INPUTS
   ********************/

.form-control {
  -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-color: #eaeaea;
  background-color: #fcfcfc;

  &:focus {
    -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-color: #00aaff;
    background-color: #fff;
  }
}

.input-group {
  -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);

  .form-control {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.input-group-addon,
.input-group-btn {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input-group-addon {
  border: 1px solid #eaeaea;
}

/* fancy checkbox and radio button */

.fancy-checkbox {
  display: block;
  font-weight: normal;

  input[type="checkbox"] {
    display: none;

    + span {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      cursor: pointer;
      position: relative;
      font-size: 13px;

      &:before {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        position: relative;
        bottom: 1px;
        width: 18px;
        height: 18px;
        margin-right: 5px;
        content: "";
        border: 1px solid #ccc;
      }
    }

    &:checked + span:before {
      font-family: FontAwesome;
      content: "\f00c";
      font-size: 12px;
      color: #99a1a7;
      text-align: center;
      line-height: 16px;
      background: #ededed;
      border: 1px solid #ccc;
    }
  }

  &.custom-color-green input[type="checkbox"]:checked + span:before {
    color: #53d76a;
    background-color: #fff;
  }

  &.custom-bgcolor-green input[type="checkbox"]:checked + span:before {
    color: #fff;
    background-color: #53d76a;
    border-color: #32cf4d;
  }
}

.fancy-radio {
  display: block;
  font-weight: normal;

  input[type="radio"] {
    display: none;

    + span {
      display: block;
      cursor: pointer;
      position: relative;
      font-size: 13px;

      i {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        position: relative;
        bottom: 1px;
        content: "";
        border: 1px solid #ccc;
        width: 18px;
        height: 18px;
        margin-right: 5px;
      }
    }

    &:checked + span i:after {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      display: block;
      position: relative;
      top: 3px;
      left: 3px;
      content: "";
      width: 10px;
      height: 10px;
      background-color: #99a1a7;
    }
  }

  &.custom-color-green input[type="radio"]:checked + span i:after {
    background-color: #53d76a;
  }

  &.custom-bgcolor-green input[type="radio"]:checked + span i {
    background-color: #53d76a;

    &:after {
      background-color: #fff;
    }
  }
}

/********************
   * BUTTONS
   ********************/

.btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 6px 22px;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 10px 28px;
}

.btn-group-sm > .btn,
.btn-sm {
  padding: 5px 18px;
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 5px 14px;
}

.btn-primary {
  background-color: #00aaff;
  border-color: #00a0f0;

  &:hover,
  &:focus {
    background-color: #00a0f0;
    border-color: #00a0f0;
  }
}

.btn-warning {
  background-color: #e4cb10;
  border-color: #d6be0f;

  &:hover,
  &:focus {
    background-color: #d6be0f;
    border-color: #d6be0f;
  }
}

.btn-default {
  &:hover,
  &:focus {
    background-color: #f7f7f7;
  }
}

.btn-success {
  background-color: #41b314;
  border-color: #3ca512;

  &:hover,
  &:focus {
    background-color: #3ca512;
    border-color: #3ca512;
  }
}

.btn {
  &.disabled,
  &[disabled] {
    opacity: 0.4;
    filter: alpha(opacity = 40);
  }
}

fieldset[disabled] .btn {
  opacity: 0.4;
  filter: alpha(opacity = 40);
}

/********************
   * PANELS
   ********************/

.panel {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  margin-bottom: 30px;

  .panel-heading,
  .panel-footer {
    padding-left: 25px;
    padding-right: 25px;
  }

  .panel-body {
    padding-left: 25px;
    padding-right: 25px;

    th {
      font-weight: bold;
      font-size: 18px;
    }

    .td-jenis {
      width: 10%;
    }

    .td-name,
    .td-harga {
      width: 15%;
    }

    .td-stok {
      width: 8%;
    }

    .td-dosis {
      width: 20%;
    }

    .td-desc {
      width: 40%;
    }

    .dropdown {
      position: relative;

      .dropdown-menu {
        border-radius: 20px;

        a {
          margin-left: 20px;
        }
      }
    }

    button {
      float: right;
      margin-top: 30px;
      margin-bottom: 30px;
      font-weight: bold;
    }

    .dropdown-toggle {
      border-radius: 100%;
      width: 35px;
      margin-top: 100%;
      display: block;
      background-color: black;
      border-width: 0;
      p {
        text-align: center;
      }
    }

    .dropdown-toggle:hover {
      background-color: #d7dbd8;
    }

    .td-picture {
      img {
        width: 60px;
        margin-right: 10px;
      }
    }

    #btn-recipe {
      float: left;
    }

    #id {
      width: 60px;
      margin-bottom: 30px;
    }

    #stok {
      width: 60px;
      margin-bottom: 30px;
    }

    h3 {
      margin-bottom: 10px;
    }

    #nama-obat {
      width: 100%;
      float: right;
    }

    #valuta {
      width: 10%;
    }

    #price {
      width: 100%;
    }

    #jenis-obat {
      width: 100%;
      float: right;
    }

    #dosis {
      width: 100%;
      float: right;
    }

    #picture {
      display: inline-block;
      margin-left: 0px;
    }

    #desc {
      resize: none;
      float: right;
      position: relative;
    }

    #username,
    #fullname,
    #phoneNumber,
    #email,
    #desc {
      margin-bottom: 30px;
    }

    #password {
      margin-bottom: 39px;
    }
  }

  .panel-heading {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;

    .panel-title {
      margin: 0;
      font-size: 26px !important;
      font-weight: 300;
    }

    button {
      padding: 0;
      margin-left: 5px;
      background-color: transparent;
      border: none;
      outline: none;
      i {
        font-size: 14px;
      }
    }
  }

  .panel-note {
    font-size: 13px;
    line-height: 2.6;
    color: #777777;

    i {
      font-size: 16px;
      margin-right: 3px;
    }
  }

  .right {
    position: absolute;
    right: 20px;
    top: 32%;
  }

  &.panel-headline .panel-heading {
    border-bottom: none;

    .panel-title {
      margin-bottom: 8px;
      font-size: 22px;
      font-weight: normal;
    }

    .panel-subtitle {
      margin-bottom: 0;
      font-size: 14px;
      color: #8d99a8;
    }
  }

  &.panel-scrolling .btn-bottom {
    margin-bottom: 30px;
  }

  .table > {
    thead > tr > {
      td:first-child,
      th:first-child {
        padding-left: 25px;
      }
    }

    tbody > tr > {
      td:first-child,
      th:first-child {
        padding-left: 25px;
      }
    }

    tfoot > tr > {
      td:first-child,
      th:first-child {
        padding-left: 25px;
      }
    }

    thead > tr > {
      td:last-child,
      th:last-child {
        padding-left: 25px;
      }
    }

    tbody > tr > {
      td:last-child,
      th:last-child {
        padding-left: 25px;
      }
    }

    tfoot > tr > {
      td:last-child,
      th:last-child {
        padding-left: 25px;
      }
    }
  }
}

.panel-footer {
  background-color: #fafafa;
}

/********************
   * ELEMENTS
   ********************/

.collapsing {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.label {
  font-weight: normal;
}

.metric {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #dce6eb;

  .icon {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #0081c2;
    text-align: center;

    i {
      font-size: 18px;
      color: #fff;
    }
  }

  p {
    margin-bottom: 0;
    line-height: 1.2;
    text-align: right;
  }

  .number {
    display: block;
    font-size: 28px;
    font-weight: 300;
  }

  .title {
    font-size: 16px;
  }
}

ul.activity-list > li {
  padding: 25px 0;

  &:not(:last-child) {
    border-bottom: 1px solid #f0f0f0;
  }

  .avatar {
    width: 40px;
  }

  > p {
    margin-bottom: 0;
    padding-left: 3.5em;
  }

  .timestamp {
    display: block;
    font-size: 13px;
    color: #a3a3a3;
  }
}

/* task list */

.task-list {
  > li {
    margin-bottom: 32px;
  }

  p {
    position: relative;

    .label-percent {
      position: absolute;
      right: 0;
    }
  }
}

/* bootstrap progress bar */

.progress {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #f1f1f1;

  &.wide {
    width: 60px;
  }

  .progress-bar {
    -webkit-transition: width 3s ease;
    -moz-transition: width 3s ease;
    -ms-transition: width 3s ease;
    -o-transition: width 3s ease;
    transition: width 3s ease;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &.progress-sm {
    height: 12px;
  }

  &.progress-xs {
    height: 5px;
  }

  &.progress-sm .progress-bar,
  &.progress-xs .progress-bar {
    text-indent: -9999px;
  }
}

.progress-bar-success {
  background-color: #41b314;
}

.progress-bar-warning {
  background-color: #e4cb10;
}

.progress-bar-danger {
  background-color: #f9354c;
}

.weekly-summary {
  margin-bottom: 30px;
  font-weight: 300;

  .number {
    font-size: 36px;
  }

  i {
    font-size: 16px;
    margin-left: 10px;
  }

  .percentage {
    position: relative;
    top: -7px;
  }

  .info-label {
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
  }
}

.todo-list {
  > li {
    border-top: 1px solid #f0f0f0;
    position: relative;

    &:first-child {
      border-top: none;
    }

    .fancy-checkbox {
      position: absolute;
      top: 50%;
      margin-top: -11px;

      input[type="checkbox"] + span {
        margin-right: 0;
      }
    }

    p {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 90%;
      margin: 0;
      padding: 20px 0 20px 35px;
    }

    &.completed {
      p,
      .date {
        text-decoration: line-through;
        color: #b4b7b9;
      }
    }
  }

  .title {
    font-size: 16px;
    font-weight: 600;
  }

  .short-description {
    display: block;
    margin-top: 5px;
  }

  .date {
    font-size: 13px;
    color: #a3a3a3;
  }

  .controls {
    float: right;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -11px;

    a {
      margin-left: 5px;
    }
  }
}

/* toastr notification */

#toast-container {
  > div {
    opacity: 0.9;
    filter: alpha(opacity = 90);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    &:hover {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  .toast-close-button {
    top: -0.9em;
  }
}

.toast {
  a {
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
      color: #fff;
    }
  }

  .toast-message {
    font-size: 14px;
    line-height: 2;
  }
}

.toast-info {
  background-color: #00aaff;
}

.toast-success {
  background-color: #41b314;
}

.toast-warning {
  background-color: #e4cb10;
}

.toast-danger {
  background-color: #f9354c;
}

/* tabs */

.custom-tabs-line {
  ul {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;

    > li {
      float: left;

      a {
        color: #8d9093;
        font-weight: normal;

        &:hover {
          color: #676a6d;
          background-color: transparent;
        }

        &:focus {
          color: #676a6d;
          background-color: transparent;
          outline: none;
        }
      }
    }

    &.nav-pills a {
      &:hover,
      &:focus {
        color: #fff;
        background-color: #00aaff;
      }
    }
  }

  &.tabs-line-bottom {
    border-bottom: 1px solid #eaeaea;

    ul > li {
      margin-bottom: -1px;
    }

    a {
      border-bottom: 1px solid transparent;
    }

    .active a {
      border-bottom: 2px solid #00aaff;
    }
  }

  &.left-aligned {
    text-align: left;
  }

  &.right-aligned {
    text-align: right;
  }
}

@media screen and (max-width: 768px) {
  .custom-tabs-line ul li.active > a {
    margin-bottom: -1px;
  }
}

.tab-pane {
  padding: 25px 15px;
}

/********************
   * CHARTS
   ********************/
/* easy pie chart */

.easy-pie-chart {
  position: relative;
  width: 110px;
  margin: 0 auto;
  margin-bottom: 15px;
  text-align: center;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  .percent {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    line-height: 110px;
    z-index: 2;

    &:after {
      content: "%";
      margin-left: 0.1em;
      font-size: 0.8em;
    }
  }

  &#system-load {
    width: 130px;

    .percent {
      line-height: 128px;
    }
  }
}

/********************************
   * AUTHENTICATION FORMS, PAGE
   ********************************/

.auth-box {
  -moz-box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 70%;
  height: 450px;
  margin: 0 auto;
  background-color: #fff;

  &:before {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    content: " ";
    vertical-align: middle;
    height: 100%;
  }

  .content {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 99%;
    vertical-align: middle;
  }

  .left {
    float: left;
    width: 42%;
    height: 100%;
    padding: 0 30px;
    text-align: center;

    &:before {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      content: " ";
      vertical-align: middle;
      height: 100%;
    }
  }

  .right {
    float: right;
    width: 58%;
    height: 100%;
    position: relative;
    background-image: url("../../assets/img/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    &:before {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      content: " ";
      vertical-align: middle;
      height: 100%;
    }

    .text {
      position: relative;
      padding: 0 30px;
      color: #fff;
    }

    .heading {
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 26px;
      font-weight: 300;
    }

    p {
      margin: 0;
      font-size: 18px;
      font-weight: 300;
    }

    .overlay {
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(99, 156, 185, 0.92);
    }
  }

  .header {
    margin-bottom: 30px;
  }

  .lead {
    margin-top: 5px;
    font-size: 18px;
    text-align: center;
  }

  .form-auth-small {
    .btn {
      margin-top: 20px;
    }

    .element-left {
      float: left;
    }

    .element-right {
      float: right;
    }

    .bottom {
      margin-top: 20px;
      text-align: center;
    }
  }

  &.lockscreen {
    width: 50%;
    padding: 40px 60px;

    .logo {
      margin-bottom: 30px;
    }

    .user {
      margin-bottom: 30px;

      .name {
        font-size: 18px;
        margin-top: 10px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .auth-box.lockscreen {
    width: 35%;
  }
}

@media screen and (max-width: 1279px) {
  .auth-box {
    width: 90%;

    .left {
      top: 3.3em;
    }
  }
}

@media screen and (max-width: 1023px) {
  .auth-box {
    .left {
      width: 100%;
      position: inherit;
      padding: 30px;
    }

    .right {
      display: none;
    }
  }
}

@media screen and (max-width: 992px) {
  .auth-box {
    width: 70%;

    &.lockscreen {
      width: 50%;
      padding: 40px 20px;
    }
  }
}

@media screen and (max-width: 640px) {
  .auth-box {
    width: 90%;

    .content {
      width: 95%;
    }

    &.lockscreen {
      width: 90%;
    }
  }
}

/********************
   * HELPERS
   ********************/

.bg-success {
  background-color: #41b314;
}

.bg-warning {
  background-color: #e4cb10;
}

.bg-danger {
  background-color: #f9354c;
}

.no-padding {
  padding: 0 !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.padding-top-30 {
  padding-top: 30px !important;
}

.padding-bottom-30 {
  padding-bottom: 30px !important;
}

/********************
   * PAGE: PROFILE
   ********************/

.panel-profile {
  position: relative;
}

.profile-left {
  padding-left: 0;
  float: left;
  width: 35%;
  height: 100%;
  position: absolute;
  background-color: #f8f8f8;
}

.profile-right {
  float: right;
  width: 65%;
  padding: 20px 25px;

  .heading {
    margin-top: 0;
  }
}

@media screen and (max-width: 992px) {
  .profile-left,
  .profile-right {
    float: none;
    width: 100%;
  }

  .profile-left {
    position: relative;
    margin-bottom: 30px;
  }
}

.profile-header {
  position: relative;
  text-align: center;
  color: #fff;

  .overlay {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .profile-main {
    position: relative;
    padding: 20px;
    background-image: url("../../assets/img/profile-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .name {
    margin: 8px 0 0 0;
    font-size: 22px;
  }

  .online-status {
    font-size: 13px;
    position: relative;
    top: -2px;

    &:before {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      content: "";
      width: 8px;
      height: 8px;
      margin-right: 3px;
    }

    &.status-available:before {
      background-color: #41b314;
    }
  }

  .profile-stat {
    position: relative;
    background-color: #00aaff;

    .stat-item {
      padding: 20px;
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background-color: #33bbff;
      }

      &:last-child:after {
        display: none;
      }

      span {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .profile-header .profile-stat .stat-item:after {
    display: none;
  }
}

.profile-detail {
  padding-bottom: 30px;
}

.profile-info {
  padding: 0 20px;
  margin: 40px 0;

  .heading {
    margin: 0 0 10px 0;
    font-weight: 600;
  }

  ul > li {
    margin-bottom: 8px;
  }
}

.social-icons {
  margin-bottom: 0;

  > li {
    padding: 0 2px 5px 2px;

    > a {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      width: 40px;
      height: 40px;
      line-height: 42px;
      text-align: center;
      background-color: #4d4d4d;
      color: #fff;

      i {
        font-size: 18px;
      }

      &:hover,
      &:focus {
        background-color: #404040;
      }
    }
  }
}

/* colored background */

.z500px-bg {
  background-color: #0099e5 !important;

  &:hover,
  &:focus {
    background-color: #0088cc !important;
  }
}

.about-me-bg {
  background-color: #00405d !important;

  &:hover,
  &:focus {
    background-color: #002e44 !important;
  }
}

.airbnb-bg {
  background-color: #fd5c63 !important;

  &:hover,
  &:focus {
    background-color: #fd434b !important;
  }
}

.alphabet-bg {
  background-color: #ed1c24 !important;

  &:hover,
  &:focus {
    background-color: #de1219 !important;
  }
}

.amazon-bg {
  background-color: #ff9900 !important;

  &:hover,
  &:focus {
    background-color: #e68a00 !important;
  }
}

.american-express-bg {
  background-color: #002663 !important;

  &:hover,
  &:focus {
    background-color: #001c4a !important;
  }
}

.aol-bg {
  background-color: #ff0b00 !important;

  &:hover,
  &:focus {
    background-color: #e60a00 !important;
  }
}

.behance-bg {
  background-color: #1769ff !important;

  &:hover,
  &:focus {
    background-color: #0059fd !important;
  }
}

.bing-bg {
  background-color: #ffb900 !important;

  &:hover,
  &:focus {
    background-color: #e6a700 !important;
  }
}

.bitbucket-bg {
  background-color: #205081 !important;

  &:hover,
  &:focus {
    background-color: #1b436d !important;
  }
}

.bitly-bg {
  background-color: #ee6123 !important;

  &:hover,
  &:focus {
    background-color: #e65312 !important;
  }
}

.blogger-bg {
  background-color: #f57d00 !important;

  &:hover,
  &:focus {
    background-color: #dc7000 !important;
  }
}

.booking-com-bg {
  background-color: #003580 !important;

  &:hover,
  &:focus {
    background-color: #002a67 !important;
  }
}

.buffer-bg {
  background-color: #168eea !important;

  &:hover,
  &:focus {
    background-color: #1380d3 !important;
  }
}

.code-school-bg {
  background-color: #616f67 !important;

  &:hover,
  &:focus {
    background-color: #55615a !important;
  }
}

.codecademy-bg {
  background-color: #f65a5b !important;

  &:hover,
  &:focus {
    background-color: #f54243 !important;
  }
}

.creative-market-bg {
  background-color: #8ba753 !important;

  &:hover,
  &:focus {
    background-color: #7d964b !important;
  }
}

.delicious-bg {
  background-color: #3399ff !important;

  &:hover,
  &:focus {
    background-color: #1a8cff !important;
  }
}

.deviantart-bg {
  background-color: #05cc47 !important;

  &:hover,
  &:focus {
    background-color: #04b33e !important;
  }
}

.digg-bg {
  background-color: #005be2 !important;

  &:hover,
  &:focus {
    background-color: #0051c9 !important;
  }
}

.disqus-bg {
  background-color: #2e9fff !important;

  &:hover,
  &:focus {
    background-color: #1593ff !important;
  }
}

.django-bg {
  background-color: #092e20 !important;

  &:hover,
  &:focus {
    background-color: #051911 !important;
  }
}

.dribbble-bg {
  background-color: #ea4c89 !important;

  &:hover,
  &:focus {
    background-color: #e7357a !important;
  }
}

.elance-bg {
  background-color: #0d69af !important;

  &:hover,
  &:focus {
    background-color: #0b5b97 !important;
  }
}

.envato-bg {
  background-color: #82b541 !important;

  &:hover,
  &:focus {
    background-color: #75a23a !important;
  }
}

.etsy-bg {
  background-color: #d5641c !important;

  &:hover,
  &:focus {
    background-color: #be5919 !important;
  }
}

.facebook-bg {
  background-color: #3b5998 !important;

  &:hover,
  &:focus {
    background-color: #344e86 !important;
  }
}

.feedly-bg {
  background-color: #2bb24c !important;

  &:hover,
  &:focus {
    background-color: #269d43 !important;
  }
}

.flattr-bg {
  background-color: #f67c1a !important;

  &:hover,
  &:focus {
    background-color: #ed6f09 !important;
  }
}

.flickr-bg {
  background-color: #0063dc !important;

  &:hover,
  &:focus {
    background-color: #0058c3 !important;
  }
}

.flipboard-bg {
  background-color: #e12828 !important;

  &:hover,
  &:focus {
    background-color: #d21d1d !important;
  }
}

.flixster-bg {
  background-color: #2971b2 !important;

  &:hover,
  &:focus {
    background-color: #24649d !important;
  }
}

.foursquare-bg {
  background-color: #0732a2 !important;

  &:hover,
  &:focus {
    background-color: #062a8a !important;
  }
}

.github-bg {
  background-color: #4183c4 !important;

  &:hover,
  &:focus {
    background-color: #3876b4 !important;
  }
}

.google-bg {
  background-color: #4285f4 !important;

  &:hover,
  &:focus {
    background-color: #2a75f3 !important;
  }
}

.google-plus-bg {
  background-color: #dc4e41 !important;

  &:hover,
  &:focus {
    background-color: #d83a2b !important;
  }
}

.instagram-bg {
  background-color: #3f729b !important;

  &:hover,
  &:focus {
    background-color: #386589 !important;
  }
}

.kickstarter-bg {
  background-color: #2bde73 !important;

  &:hover,
  &:focus {
    background-color: #20cf67 !important;
  }
}

.kik-bg {
  background-color: #82bc23 !important;

  &:hover,
  &:focus {
    background-color: #73a71f !important;
  }
}

.lastfm-bg {
  background-color: #d51007 !important;

  &:hover,
  &:focus {
    background-color: #bc0e06 !important;
  }
}

.line-bg {
  background-color: #00c300 !important;

  &:hover,
  &:focus {
    background-color: #00aa00 !important;
  }
}

.linkedin-bg {
  background-color: #0077b5 !important;

  &:hover,
  &:focus {
    background-color: #00669c !important;
  }
}

.mail-ru-bg {
  background-color: #168de2 !important;

  &:hover,
  &:focus {
    background-color: #147fcb !important;
  }
}

.mailchimp-bg {
  background-color: #2c9ab7 !important;

  &:hover,
  &:focus {
    background-color: #2789a2 !important;
  }
}

.myspace-bg {
  background-color: #000000 !important;

  &:hover,
  &:focus {
    background-color: black !important;
  }
}

.netflix-bg {
  background-color: #e50914 !important;

  &:hover,
  &:focus {
    background-color: #cc0812 !important;
  }
}

.ning-bg {
  background-color: #75af42 !important;

  &:hover,
  &:focus {
    background-color: #699c3b !important;
  }
}

.path-bg {
  background-color: #ee3423 !important;

  &:hover,
  &:focus {
    background-color: #e62412 !important;
  }
}

.patreon-bg {
  background-color: #e6461a !important;

  &:hover,
  &:focus {
    background-color: #d03f17 !important;
  }
}

.paypal-bg {
  background-color: #003087 !important;

  &:hover,
  &:focus {
    background-color: #00276e !important;
  }
}

.photobucket-bg {
  background-color: #0ea0db !important;

  &:hover,
  &:focus {
    background-color: #0c8ec3 !important;
  }
}

.pinterest-bg {
  background-color: #bd081c !important;

  &:hover,
  &:focus {
    background-color: #a50718 !important;
  }
}

.product-hunt-bg {
  background-color: #da552f !important;

  &:hover,
  &:focus {
    background-color: #cb4924 !important;
  }
}

.quora-bg {
  background-color: #a82400 !important;

  &:hover,
  &:focus {
    background-color: #8f1f00 !important;
  }
}

.rdio-bg {
  background-color: #007dc3 !important;

  &:hover,
  &:focus {
    background-color: #006daa !important;
  }
}

.reddit-bg {
  background-color: #ff4500 !important;

  &:hover,
  &:focus {
    background-color: #e63e00 !important;
  }
}

.rss-bg {
  background-color: #f26522 !important;

  &:hover,
  &:focus {
    background-color: #ed560e !important;
  }
}

.salesforce-bg {
  background-color: #1798c1 !important;

  &:hover,
  &:focus {
    background-color: #1486aa !important;
  }
}

.scribd-bg {
  background-color: #1a7bba !important;

  &:hover,
  &:focus {
    background-color: #176ca4 !important;
  }
}

.shopify-bg {
  background-color: #96bf48 !important;

  &:hover,
  &:focus {
    background-color: #89b03e !important;
  }
}

.skype-bg {
  background-color: #00aff0 !important;

  &:hover,
  &:focus {
    background-color: #009cd7 !important;
  }
}

.slack-bg {
  background-color: #6ecadc !important;

  &:hover,
  &:focus {
    background-color: #59c2d7 !important;
  }
}

.slideshare-bg {
  background-color: #0077b5 !important;

  &:hover,
  &:focus {
    background-color: #00669c !important;
  }
}

.soundcloud-bg {
  background-color: #ff8800 !important;

  &:hover,
  &:focus {
    background-color: #e67a00 !important;
  }
}

.spotify-bg {
  background-color: #2ebd59 !important;

  &:hover,
  &:focus {
    background-color: #29a84f !important;
  }
}

.squarespace-bg {
  background-color: #222222 !important;

  &:hover,
  &:focus {
    background-color: #151515 !important;
  }
}

.stackoverflow-bg {
  background-color: #fe7a15 !important;

  &:hover,
  &:focus {
    background-color: #f86c01 !important;
  }
}

.stripe-bg {
  background-color: #00afe1 !important;

  &:hover,
  &:focus {
    background-color: #009bc8 !important;
  }
}

.stumbleupon-bg {
  background-color: #eb4924 !important;

  &:hover,
  &:focus {
    background-color: #e13b15 !important;
  }
}

.telegram-bg {
  background-color: #0088cc !important;

  &:hover,
  &:focus {
    background-color: #0077b3 !important;
  }
}

.tumblr-bg {
  background-color: #35465c !important;

  &:hover,
  &:focus {
    background-color: #2c3a4c !important;
  }
}

.twitch-tv-bg {
  background-color: #6441a5 !important;

  &:hover,
  &:focus {
    background-color: #593a93 !important;
  }
}

.twitter-bg {
  background-color: #55acee !important;

  &:hover,
  &:focus {
    background-color: #3ea1ec !important;
  }
}

.vimeo-bg {
  background-color: #162221 !important;

  &:hover,
  &:focus {
    background-color: #0c1312 !important;
  }
}

.vine-bg {
  background-color: #00b488 !important;

  &:hover,
  &:focus {
    background-color: #009b75 !important;
  }
}

.wechat-bg {
  background-color: #7bb32e !important;

  &:hover,
  &:focus {
    background-color: #6d9f29 !important;
  }
}

.whatsapp-bg {
  background-color: #43d854 !important;

  &:hover,
  &:focus {
    background-color: #2ed441 !important;
  }
}

.yahoo-bg {
  background-color: #410093 !important;

  &:hover,
  &:focus {
    background-color: #36007a !important;
  }
}

.youtube-bg {
  background-color: #cd201f !important;

  &:hover,
  &:focus {
    background-color: #b71d1c !important;
  }
}

.profile-right .heading {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}

.awards {
  margin-bottom: 50px;

  div[class^="col-"] {
    text-align: center;
  }
}

.award-item {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-align: center;
  margin-bottom: 30px;

  .hexagon {
    margin: 35px 0;
  }
}

.hexagon {
  width: 100px;
  height: 55px;
  background: #ececec;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid #ececec;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #ececec;
  }
}

.award-icon {
  font-size: 36px;
  line-height: 1.5em;
}

ul.activity-timeline > li {
  margin-bottom: 45px;
  position: relative;
  z-index: 0;

  .activity-icon {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    float: left;
    width: 34px;
    height: 34px;
    background-color: #00aaff;
    font-size: 16px;
    color: #fff;
    line-height: 34px;
    text-align: center;
    margin-right: 10px;
  }

  > p {
    margin-bottom: 0;
    padding-left: 40px;
  }

  .timestamp {
    display: block;
    font-size: 0.85em;
    color: #a3a3a3;
  }

  &:after {
    content: "";
    display: block;
    border-left: 1px solid #eaeaea;
    width: 1px;
    height: 100px;
    position: absolute;
    top: 5px;
    left: 16px;
    z-index: -1;
  }

  &:last-child:after {
    display: none;
  }
}

.project-table {
  .progress {
    margin-bottom: 0;
  }

  .progress-bar {
    font-size: 10px;
  }

  > tbody > tr > td {
    padding: 12px 8px;

    .avatar {
      width: 22px;
      border: 1px solid #ccc;
    }
  }
}

/*# sourceMappingURL=main.css.map */
